<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112296289374-u3ov1gp02qvhfqumfqu1uhpqsojs11di.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112296289374-u3ov1gp02qvhfqumfqu1uhpqsojs11di</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>112296289374-vnov4jgnuobrarjjq0klk752a4qkafai.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhD94D0li9A0oCJtjTYyJC3TkEzcK7en4</string>
	<key>GCM_SENDER_ID</key>
	<string>112296289374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.aplicacionestudiantes</string>
	<key>PROJECT_ID</key>
	<string>proyectodas-8ae3e</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectodas-8ae3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112296289374:ios:86b20653e4b26e952a40cf</string>
</dict>
</plist>